In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
#JANコードが与えられた時にNANを取り除いてJANを整数に変換して返す関数
#引数として与えるファイルは、一応JANコード、商品名の二つのカラムを含むとする。
#jan_df.csv   should have 2columns::::::::::: [JAN:string or float,商品名:string]
def castJAN(jan_csv):
    jan=pd.read_csv(jan_csv,sep=',')
    # NANをドロップ
    jan=jan.dropna(how='any')
    #NULLがあるとキャストがうまくされないがNANがなければキャスト可能。JANコードのところをintegerにキャストする
    jan=jan.astype({'JAN':int})
    return jan

In [3]:
#二つのJAN,商品名の集合が与えられた時に、重複しているもの（積集合）を返す関数。
def dup_JAN(jan_set1,jan_set2):
    jan_code1=castJAN(jan_set1)
    jan_code2=castJAN(jan_set2)
    #重複しているものだけを取り出す
    #同じJANのものでマージすると片方の集合にしかないものはNANになる
    jan_con=pd.merge(jan_code1,jan_code2,on='JAN',how='outer')
    #NANのあるものを削除する
    jan_con=jan_con.dropna()
    #商品名のカラムが重複するため削除し、JAN、商品名の２列にする
    jan_con=jan_con.iloc[:,[0,1]]
    return jan_con

In [4]:
#indexを削除してcsvに書き込むときはto_csvのindexをfalseに設定する
def memo_____csv_index_non():
    temp=pd.read_csv('jan1.csv')
    temp=temp.iloc[:,[1,2]]
    temp
    temp.to_csv('jan1.csv',index=False)

In [5]:
jan=dup_JAN ('jan1.csv','jan2.csv')

               JAN                             商品名
0    4516344079146  good day cafe 耐熱ﾊﾟｽﾀｼﾞｬｰ 2.15L
1    4516344079153  good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 1.25L
2    4516344079160  good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.75L
3    4516344079177  good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.63L
4    4516344079184   good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.3L
..             ...                             ...
281  4516344071096   NEEDLEWORK ｿｰｲﾝｸﾞﾊﾞｽｹｯﾄ ﾗｳﾝﾄﾞ
282  4516344071119          NEEDLEWORK ｿｰｲﾝｸﾞﾎﾞｯｸｽ
283  4516344076527             ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE
284  4516344076534             ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE
285  4516344077005             ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE

[285 rows x 2 columns]
             JAN                             商品名
0  4516344079146  good day cafe 耐熱ﾊﾟｽﾀｼﾞｬｰ 2.15L
1  4516344079153  good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 1.25L
2  4516344079160  good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.75L
3  4516344079177  good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.63L
4  4516344079184   good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.3L
5  4516344079191  good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.25L
6  4516344079207   good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.2L

In [6]:
jan

             JAN                           商品名_x
0  4516344079146  good day cafe 耐熱ﾊﾟｽﾀｼﾞｬｰ 2.15L
1  4516344079153  good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 1.25L
2  4516344079160  good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.75L
3  4516344079177  good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.63L
4  4516344079184   good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.3L
5  4516344079191  good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.25L
6  4516344079207   good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.2L