In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [25]:
jan2=pd.read_csv('jan2.csv',sep=',')
jan2.columns
jan_code2=jan2.iloc[:,[7,2]]
#カラム名を追加する
jan_code2.columns=['JAN','商品名']
#JANのNANの数を表示
jan_code2.isnull().sum()
# NANをドロップ
jan_code2=jan_code2.dropna(how='any')
#NANが含まれるとき、その列はfloat扱いになってしまう
print( jan_code2.dtypes)
#もう一回nullがないかかくにん。もうない。
jan_code2.isnull().any()
#NULLがあるとキャストがうまくされないがNANがなければキャスト可能。JANコードのところをintegerにキャストする
jan_code2=jan_code2.astype({'JAN':int})
jan_code2.describe

JAN    float64
商品名     object
dtype: object

<bound method NDFrame.describe of              JAN                            商品名
0  4516344071034               NEEDLEWORK ﾒｼﾞｬｰ
1  4516344071058         NEEDLEWORK ﾐﾆｿｰｲﾝｸﾞｾｯﾄ
2  4516344071072   NEEDLEWORK ｿｰｲﾝｸﾞﾊﾞｽｹｯﾄ ｽｸｴｱ
3  4516344071096  NEEDLEWORK ｿｰｲﾝｸﾞﾊﾞｽｹｯﾄ ﾗｳﾝﾄﾞ
4  4516344071119         NEEDLEWORK ｿｰｲﾝｸﾞﾎﾞｯｸｽ
5  4516344076527            ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE
6  4516344076534            ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE
7  4516344077005            ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE>

In [14]:
jan1=pd.read_csv('jan1.csv',sep=',')
jan1=jan1.drop([0,1,2])

In [15]:
jan_code1=jan1.iloc[:,[7,2]]
#カラム名を追加する
jan_code1.columns=['JAN','商品名']
#JANのNANの数を表示
jan_code1.isnull().sum()
# NANをドロップ
jan_code1=jan_code1.dropna(how='any')
#NANが含まれるとき、その列はfloat扱いになってしまう
print( jan_code1.dtypes)
#もう一回nullがないかかくにん。もうない。
jan_code1.isnull().any()
#NULLがあるとキャストがうまくされないがNANがなければキャスト可能。JANコードのところをintegerにキャストする
jan_code1=jan_code1.astype({'JAN':int})

JAN    object
商品名    object
dtype: object

In [28]:
#重複しているものだけを取り出す
#同じJANのものでマージすると片方の集合にしかないものはNANになる
jan_con=pd.merge(jan_code1,jan_code2,on='JAN',how='outer')
jan_con

,JAN,商品名_x,商品名_y
0,4516344079146,good day cafe 耐熱ﾊﾟｽﾀｼﾞｬｰ 2.15L,NaN
1,4516344079153,good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 1.25L,NaN
2,4516344079160,good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.75L,NaN
3,4516344079177,good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.63L,NaN
4,4516344079184,good day cafe 耐熱ｶﾞﾗｽｼﾞｬｰ 0.3L,NaN
...,...,...,...
280,4516344071096,NEEDLEWORK ｿｰｲﾝｸﾞﾊﾞｽｹｯﾄ ﾗｳﾝﾄﾞ,NEEDLEWORK ｿｰｲﾝｸﾞﾊﾞｽｹｯﾄ ﾗｳﾝﾄﾞ
281,4516344071119,NEEDLEWORK ｿｰｲﾝｸﾞﾎﾞｯｸｽ,NEEDLEWORK ｿｰｲﾝｸﾞﾎﾞｯｸｽ
282,4516344076527,ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE,ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE
283,4516344076534,ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE,ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE
284,4516344077005,ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE,ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE

In [29]:
#NANはありますか？あります。
jan_con.isnull().any()
#NANのあるものを削除する
jan_con.dropna()

,JAN,商品名_x,商品名_y
277,4516344071034,NEEDLEWORK ﾒｼﾞｬｰ,NEEDLEWORK ﾒｼﾞｬｰ
278,4516344071058,NEEDLEWORK ﾐﾆｿｰｲﾝｸﾞｾｯﾄ,NEEDLEWORK ﾐﾆｿｰｲﾝｸﾞｾｯﾄ
279,4516344071072,NEEDLEWORK ｿｰｲﾝｸﾞﾊﾞｽｹｯﾄ ｽｸｴｱ,NEEDLEWORK ｿｰｲﾝｸﾞﾊﾞｽｹｯﾄ ｽｸｴｱ
280,4516344071096,NEEDLEWORK ｿｰｲﾝｸﾞﾊﾞｽｹｯﾄ ﾗｳﾝﾄﾞ,NEEDLEWORK ｿｰｲﾝｸﾞﾊﾞｽｹｯﾄ ﾗｳﾝﾄﾞ
281,4516344071119,NEEDLEWORK ｿｰｲﾝｸﾞﾎﾞｯｸｽ,NEEDLEWORK ｿｰｲﾝｸﾞﾎﾞｯｸｽ
282,4516344076527,ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE,ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE
283,4516344076534,ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE,ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE
284,4516344077005,ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE,ﾄﾗｯﾄﾞﾌﾞﾗﾝｹｯﾄ SPRUCE